/*============================================================
		STANDARD FORMATTING  - includes code from t4.css
============================================================*/
html {
	overflow-y:scroll; 
}


*,body{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

body{
	font-size:100%; /*specifies overall font size*/
	background-color:#F6F6F6; 
	margin:5px;
	padding:0px;
}

/*** used for clearing a div with no gap ***/
.clear{
	float:none;
	clear:both;
	height:0px;
	line-height:0px;
	font-size:1px;
}

/*** used for clearing a div with a gap ***/
.clearheight{
	float:none;
	clear:both;
}

/*** to hide labels but screenreaders can still read ***/
.hidden{
	position:absolute;
 	left:0px;
 	top:-500px;
 	width:1px;
 	height:1px;
 	overflow:hidden;
}

/*** OVERALL CONTAINER ***/
div#container{
	width:960px;
	text-align:left; 
	word-wrap:break-word;/*IE fix - wrap long link and chemical text names*/
	background-color:#FFFFFF;
	border:1px solid #CCC;
	margin:0 auto;
	
}



/*============================================================
		HEADER
============================================================*/
div#header{
	width:100%;
	font-size:80%;
	background-repeat:no-repeat; /*bg image in "customise.css"*/
}


	
	/*** INSIDE DIV#HEADER - CONTAINS YORK LOGO + H1 AREA TITLE ***/
	div#location{
		float:left;
		width:60%; /*required for ie 5 mac*/
		margin-right:15px;
		margin-top:11px;
	}
	#location a img {
	border: none;
}
	#location a {
		text-decoration:none; 
	}	
		/*--h1--*/
		div#header div#location h1{
			font-size:130%;
			margin:0 0 10px 25px;
			font-weight:bold; 
		}
		
		/*--small york logo--*/
		div#header div#location img{
			margin-left:25px;
		}


	/*** INSIDE DIV#HEADER - CONTAINS FORM ELEMENTS ***/
	div#header form{
		float:right;
		width:35%; 
		text-align:right;
		padding:14px 14px 14px 6px;
		margin:0px;
	}
	
		/*--search label--*/
		div#header form label{
			margin-right:3px;
		}
		
		/*--search field--*/
		div#header form input{
			background-image:none; 
			width:175px;
			height:auto;
			font-size:100%;
			vertical-align:middle;
			padding-bottom:2px;
			margin-bottom:8px; 
		}
		
		/*--search submit button--*/
		div#header form input.submit{
			width:auto;
			height:auto;
			padding-bottom:0px;
		}
		
		/*--search radio--*/
		div#header form input.radio{
		display:inline; 
			width:auto;
			border:none;
			margin-left:8px; 
		}
	


/*============================================================
		EXTRA LINKS, i.e. home | A-Z | Departments etc
============================================================*/
div#extra-links{
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}

	/*--paragraph for links--*/
	div#extra-links p{
		margin:0px 12px;
		padding:5px;
	}
	
		/*--background highlight surrounding links--*/
		div#extra-links p span{
			padding:5px 9px;
		}
		
		/*--extra-links--*/
	
		div#extra-links p span a:link, div#extra-links p span a:visited{
			text-decoration:none;
		}
			
			div#extra-links p span a:hover{
					text-decoration:underline;
			}

/*============================================================
		BREADCRUMB
============================================================*/
div#breadcrumb{
	font-size:85%; 
	width:100%;
	border-bottom:1px solid #FFFFFF;
	padding:5px 0px; /*workaround for FF unknown gap!*/
}

	/*--unordered list breadcrumb trail--*/
	div#breadcrumb ul{
		margin:0 17px;
		padding:0;
	}
		div#breadcrumb ul li{
			display:inline; 
			list-style-type:none;
			line-height:190%;
			margin:0px 5px 0px 0px;
			padding:0px;
			word-wrap:normal; 
		}
	
	/*--breadcrumb links--*/

	div#breadcrumb a:link, div#breadcrumb a:visited{
		text-decoration:none;
	}
		
		div#breadcrumb a:hover{
		
			text-decoration:underline;
		}

/*============================================================
		3 COLUMN / 2 COLOUMN (WIDE) LAYOUT CONTAINER
============================================================*/
div#content-container{
	position:relative;
	width:100%;
	font-size:80%;
	color:#1D1D1D;
	background-color:#FFFFFF;
	padding-bottom:5px;
}

/*============================================================
		LEFT COLUMN
============================================================*/
div#lhcolumn{
	overflow:visible;/*ie 6 italic fix*/
	font-size:85%; 
	float:left;
	width:195px;
	padding-top:20px;
	padding-bottom:20px; 
	margin-right:20px;
}

div#lhcolumn #before p {
	line-height:140%; 
	margin-top:0; 
	padding:0 5px; 
	text-align:center; 
	width:160px; 
}

div.no-left-nav div#lhcolumn {
	font-size:100%; 
}
	
/*============================================================
		LEFT COLUMN BLOCKED NAVIGATION - 
		||| PLEASE NOTE: 
		EMPTY LEVEL 1-5 LINK + HOVER TAGS BELOW ARE KEPT IN CASE REQUIRED AT A LATER DATE 
		|||
============================================================*/

/*--navigation list--*/
#nav, #nav ul {
	padding:0px;
	margin:0px;
	list-style:none; 
}

#nav ul  {
	border-left:6px solid #DDD; 
}
#nav ul ul {
	border-left:6px solid #CCC; 
}
#nav ul ul ul{
	border-left:6px solid #BBB; 
}
#nav ul ul ul ul {
	border-left:6px solid #AAA; 
}



/*--zero level default link items--*/
#nav li a{
	display:block;
	width:166px;
	w\idth:134px;
	font-weight:normal;
	text-decoration:none;
	background-repeat:no-repeat;
	background-position:6px 9px;
	padding:5px 15px;
	background-color:#EEE;	

}

#nav li span{
	display:block;
	width:166px;
	w\idth:134px;
	padding:0px 15px;
}

/*--indent first list item, inherited by levels thereafter--*/
#nav li li a{
	w\idth:127px;
	padding:5px 20px 5px 15px;
	background-color:#DDD;	

}    
#nav li li span{
	w\idth:127px;
	padding:0px 20px 0px 15px;
}
	
/*--2nd level link information--*/
#nav li li li a{
	w\idth:125px;
	background-color:#CCC;	

}
#nav li li li span{
	w\idth:125px;
}

#nav li li li li a{	
	w\idth:123px;
	background-color:#BBB; 	

}
#nav li li li li span{
	w\idth:123px;
}

#nav li li li li li a{	
	w\idth:121px;
	background-color:#AAA; 	

}
#nav li li li li li span{	
	w\idth:121px;
}

#nav li li li li li li a{	
	w\idth:119px;
}
#nav li li li li li li span{	
	w\idth:119px;
}	
	
#nav span.children {
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid #FFF;
}
#nav span.parent {
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid #FFF;
}

#nav span.parent a.parent {
	border:none;
}

#nav li a:hover {
	background-repeat:no-repeat;
}

#nav li span a:hover {
	background: #EEF4F8 url("arrow_nav_down_white.gif") 6px 9px no-repeat;
}

#nav li span {
	background-repeat: no-repeat;
	background-position: 6px 9px; 
	padding-left:15px; 
	display: block;
}

#nav li span a {
	position: relative;
	left: -15px;
}

/* IE6 (and 7) HTML FIX*/

  *html #lhcolumn {
	margin-right: 16px !important;*/
} 

/*============================================================
		BOXOUT REGIONS
============================================================*/


.boxout, .boxoutAlt, .rightBox, .leftBox {
	padding:0 15px 5px;
	margin:15px 0px;
	border-width:1px;
	border-style:solid;
	display:block; 
}

.boxout:after, .boxoutAlt:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#mdcolumn .boxout, #mdcolumn .boxoutAlt {
	width:477px; 
}

.wide #mdcolumn .boxout, .wide #mdcolumn .boxoutAlt  {
	width:692px; 
}

#rhcolumn .boxout, #rhcolumn .boxoutAlt {
	margin:0 0 15px; 
	width:187px; 
}

#rhcolumn .boxout , #rhcolumn .boxoutAlt {
	border-right:0; 
}

#lhcolumn .boxout , #lhcolumn .boxoutAlt{
	border-left:0; 
}


.rightBox, .leftBox{
	width: 220px;
	margin-top: 0;
}

.rightBox {
	float: right;
	margin-left: 15px;
}
.leftBox {
	float: left;
	margin-right: 15px;
}

.rightBox + h2 {
	margin-right:265px; 
	margin-top:0; 
}

.leftBox + h2 {
	margin-left:265px; 
	margin-top:0; 
}

.boxout ul, .boxoutAlt  ul, .rightBox  ul, .leftBox  ul
{
	
	margin-left:10px;
	padding:0px;
}

div#mdcolumn  .boxout ul, div#mdcolumn  .boxoutAlt  ul, div#mdcolumn  .rightBox  ul, div#mdcolumn  .leftBox  ul {
	margin-left:0; 
	padding-left:0; 
}

.boxout  h2, .boxoutAlt  h2, .rightBox  h2, .leftBox  h2
{
 border:0 !important;
 padding:0; 
 margin-top:15px; 
}

p.boxout, p.boxoutAlt, p.leftBox, p.rightBox {
	padding: 15px; 
}

div#mdcolumn  .boxout p, div#mdcolumn  .boxoutAlt p, div#mdcolumn  .leftBox p, div#mdcolumn  .rightBox p{
	margin-top:15px; 
}

div#mdcolumn blockquote.quote, div#rhcolumn blockquote.quote{ 
	float: right; 
	width: 190px; 
	background: #F1F1F1 url("open_quote.gif") 5px 5px no-repeat; 
	padding:35px 0 15px 35px;
	margin: 0 0 15px 15px; 
	color: #000; 
} 

div#rhcolumn blockquote.quote {
	float: none; 
	margin: 0 0 15px 0px; 
	padding:35px 0 15px 30px;
	width: 188px; 
}

div#rhcolumn blockquote.quote img {
	border:5px solid #FFF; 
}

div#mdcolumn blockquote.quote p ,div#rhcolumn blockquote.quote p {
    margin-bottom:5px; 
	margin-top:0; 
}

div#mdcolumn blockquote.quote p.quotation, div#rhcolumn blockquote.quote p.quotation{
	padding:0 35px 20px 0;
	font-family:Georgia,Utopia,Palatino,'Palatino Linotype',serif;
	font-size: 1.2em;
	background: transparent url("close_quote.gif") 99% 97% no-repeat;
}

div#mdcolumn blockquote.quote p.attribution, div#rhcolumn blockquote.quote p.attribution {
	padding-right:25px; 
}



/*============================================================
		MIDDLE COLUMN (MAIN CONTENT AREA)
============================================================*/
div#mdcolumn{
	overflow:visible;/*ie 6 italic fix*/
	/*margin:0px 238px 0px 186px;*/
	float: left;
	width: 505px;
	padding:20px 0px;
}

.full-width div#mdcolumn {
	padding:20px;
	width:920px;
}
	
	/* IE 3px jog (hide from mac --> \*/
	* html div#mdcolumn {
		height:1%;
	}

	/*--image margin--*/
	div#mdcolumn img.img-space{
		margin:5px 8px 5px 5px;
	}
	
	
			
	/*--middle column links--*/

	div#mdcolumn a:link, div#mdcolumn a:visited{
		
		text-decoration:underline;
	}
	
			div#mdcolumn a:hover{
		
			text-decoration:none;
		}

/*============================================================
		MIDDLE COLUMN TEXT FORMATTING
============================================================*/
	
	div#mdcolumn h1{
		font-size:170%;
		font-weight:normal; 
		line-height:130%; 
		margin:0 0 12px 0px;
	}
	
	h2, h3, h4, h5, h6{
		font-weight:bold;		
		margin:20px 0 12px 0px;
	}
	
	h2{
		font-size:125%;
		margin-top:30px; 
		padding-bottom:10px; 
		
	}
	h3, h4{
		font-size:110%;
	}
	h4{
		font-style:italic;
	}
	h5, h6, h7{
		font-size:100%;
	}
	
	div#mdcolumn p {
		margin-bottom:15px; 
	}
						

	div#mdcolumn 
	{
		line-height:150%;
	}
		/*--middle column list--*/
		div#mdcolumn ul li, 
		div#mdcolumn ol li{
			margin-bottom:5px;
		}
		
		div#mdcolumn ul li ul li, 
		div#mdcolumn ol li ol li,
		div#mdcolumn ul li ul li ul li, 
		div#mdcolumn ol li ol li ol li{
			margin-top:5px;
		}
	
	div#mdcolumn ul { 
		list-style:none;
		margin-left:0; 
		padding-left:12px; 
	}
	
	div#mdcolumn li {
		padding-left:12px; 
	}
	
	div#mdcolumn ol li  {
		background-image:none; 
		padding-left:0; 
	}

	div#mdcolumn ol ul {
		margin:10px 0; 
		padding-left:0; 
	}
	
	div#mdcolumn ol ul li  {
		padding-left:15px; 
	}
	
			
	/*--definition list--*/
	div#mdcolumn dt{
		font-weight:bold;
		margin:5px 0px;
	}
		div#mdcolumn dd{
			font-style:italic;
			margin-left:0px;
		}
		
	/*--used for green background on div boxes--*/
	div#mdcolumn .box{
		padding:1px 0px 1px 0px;
		margin-top:20px;
	}
	
	/*--horizontal rule--*/
	div#mdcolumn hr{
		padding:0px;
		margin:8px 0px;
		border:none;
		height:1px;
	}
	
	/*** DEFAULT DATA TABLE ***/
	table{
		border-spacing:0; 
		border-collapse:collapse;
		font-size:100%;
		margin:15px 0px 10px 0px;
		padding:0px;
		width:100%;
	}
	
	table caption {
		line-height:150%; 
	}
		/*--default data table heading--*/
		table tr th{
			font-weight:bold;
			padding:10px;
			vertical-align:top;
			text-align:left; 
			background-color:#D2EBF5;	
			border:1px solid #D7D7D7;
		}
		/*--default data table cell--*/
		table tr td{			
			padding:10px;
			vertical-align:top;
			border:1px solid #D7D7D7;	
		}
		
		div#mdcolumn table ul, div#mdcolumn table ol  {
			margin:0; 
			padding-left:0; 
		}

		/*Horizontal borders*/
		div#mdcolumn table.horizontal-borders tr td, div#mdcolumn table.horizontal-borders tr th  {	
			border:0; 
		}
		div#mdcolumn table.horizontal-borders tr td  {	
			border-bottom:1px solid #D7D7D7;
		}
		
		
		/*No borders*/
		div#mdcolumn table.no-borders tr td, div#mdcolumn table.no-borders tr th {
			border:0; 
		}
		
		/*Zebra stripes*/
		div#mdcolumn table.zebra tbody tr.even { 
			background-color:#F4F4F4; 
		}
		
		/*Hovered rows*/
		div#mdcolumn table.hover-row tr:hover, div#mdcolumn table.hover-row tbody tr:hover {
			background-color:#e7e7e7; 
		}
			
		/*Vertical borders*/
		div#mdcolumn table.vertical-borders tr td {	
			border-width:0 1px 0 1px; 				
		}
		
		div#mdcolumn table.vertical-borders tr th {
			border-top:1px solid #D7D7D7; 
			border-bottom:0; 	
		}
		
		div#mdcolumn table.vertical-borders {
			border:1px solid #D7D7D7; 
		}
		
		/*Sortable tables*/
			
	table.sortable thead tr .header, table.sortable-zebra thead tr .header  {
		background-image: url(sortable_bg_black.gif);
		background-repeat: no-repeat;
		background-position: center right;
		cursor: pointer;
	}

	table.sortable thead tr .headerSortUp, table.sortable-zebra thead tr .headerSortUp  {
		background-image: url(sortable_asc_white.gif);
	}
	
	table.sortable thead tr .headerSortDown, table.sortable-zebra thead tr .headerSortDown  {
		background-image: url(sortable_desc_white.gif);
	}
	
	table.sortable thead tr .headerSortDown, table.sortable thead tr .headerSortUp, table.sortable-zebra thead tr .headerSortDown, table.sortable-zebra thead tr .headerSortUp {
		background-color: #777;
		color:#FFF; 
}

		
	table.sortable-zebra .odd {
		background-color:#F4F4F4;
	}
		
		/*Table of links - whole row clickable*/
		div#mdcolumn  table.link-table a {
			display:block; 
			padding:10px; 
			text-decoration:none; 
		}

		div#mdcolumn  table.link-table tr td{
			padding:0; 
		}

		div#mdcolumn table.link-table a:hover {
			color:#000; 
		}

		
		div#mdcolumn table h2 {
			margin-top:0; 
		}
			
		/*Image gallery*/	
		div#mdcolumn table.gallery  ins.icon{
			padding: 0;
			background: none; 
		}	
		
		/*Video*/
		div#mdcolumn table.filmstrip {
			font-size:90%; 
			text-align:center; 
		}
		
		div#mdcolumn table.filmstrip td{
			padding:0 10px; 
		}

		div#mdcolumn table.filmstrip img {
			border:3px solid #fff; 
			-moz-box-shadow: 2px 2px 7px #999;
			-webkit-box-shadow: 2px 2px 7px #999;
			margin-bottom:5px; 
		}

		div#mdcolumn table.filmstrip a {
			display:block; 
		}
		
		div#mdcolumn table.a-to-z  th {
			font-size:170%; 
			font-weight:normal; 
			
		}
		
		div#mdcolumn table.a-to-z  th a{	
			float:right; 
			font-size:60%; 
			font-weight:normal; 
		}
		
		div#mdcolumn table.a-to-z ul {
			margin:12px 0; 
			padding-left:20px; 
		}
		
		iframe.right, iframe.left {
			margin-bottom:0; 
		}

		
			
	/*--top links--*/
	div#mdcolumn p.top{
		text-align:right;
		padding:5px 5px;
	}
	
	/*--date last updated and author details--*/
	div#mdcolumn p.author{
		float:none;
		font-size:90%;
		color:#999999;
		text-align:right;
		margin:10px 0px;
		clear: both; /* 'both' may be better here than 'right' - pushes it right below the nav bar though... */
	}

	/*--frequently asked question -*/
	

.faq  {
	background-color:#eee; 
	
	border-top:1px solid #fff; 
	border-bottom:1px solid #ccc; 	
	padding:0; 
}

h3.q {
	cursor:pointer; 
	font-size:100%; 
	margin:0; 
	padding:10px; 
}

#mdcolumn h3.q  a:link, #mdcolumn h3.q  a:visited {
	text-decoration:none; 
}


.faq .a {
	margin-top:0px; 
	padding:0 10px 10px 10px; 
}

p.showhide {
	font-size:85%; 
}

#mdcolumn div.a>p:last-of-type {
	margin-bottom:0; 
}

	
/*Latest news listing*/	



#latestnews  .newsitem  p.newsPosted {
	
	font-size:85%; 
	color:#7e7e7e;
	margin-top:5px; 
	margin-bottom:5px; 
}

div#latestnews.noteaser .newsitem  p.newsPosted {
	margin-bottom:15px; 
}

#latestnews .newsitem p {
	margin-bottom:20px;

}

#latestnews .newsitem  img {
	padding-right:15px; 
	border:none; 
	margin-top:5px; 
	margin-bottom:10px; 
}

#mdcolumn #latestnews hr, #rhcolumn #latestnews hr  {
	color:transparent; 
	background-color:transparent; 
	clear:both; 
	padding:0; 
	margin:5px 0; 
}

#latestnews .newsitem  .headline{
	font-size:100%; 
	display:block; 
	font-weight:bold; 
}

#mdcolumn .boxout .headline {
	padding: 0 12px; 
}

#mdcolumn .col-half .boxout .newsimage {
	margin-left:12px; 
}

#latestnews .newsitem .newsimage {
	float:left; 
}

#mdcolumn  p.newsPosted {
	color:#7e7e7e;
}

div#mdcolumn div.col-half .boxout p.newsPosted {
	margin:5px 0; 
	padding-bottom:0; 

}

#mdcolumn  p.newsTeaserText {
	font-weight:bold; 
	font-size: 115%; 
}

	/*--preformatted text--*/
	div#mdcolumn pre, div#mdcolumn pre strong, div#mdcolumn pre em {
		font-family:Courier New, Courier, monospace; 
		white-space:pre-wrap; 
		word-wrap:normal; 
	}
	
	
	
/*Tabbed content*/	

div#mdcolumn #tabs {
	margin-bottom:15px; 
}

#tab-1, #tab-2,#tab-3,#tab-4,#tab-5, #tab-6, #tab-7, #profile, #research, #publications, #teaching, #external {
	border: 1px solid #CCC;  
	border-top:none; 
	padding:10px; 
}

div#mdcolumn ul.tabNavigation {
	background-color:#fff; 
	border-bottom:1px solid #CCC; 
	font-size:90%; 
	line-height:18px; 
	list-style: none;
	margin: 0;
	padding: 11px 0 5px;
}

div#mdcolumn ul.tabNavigation li {	
	display: inline;
	padding:0; 
	position:relative; 
}

div#mdcolumn ul.tabNavigation li a {
	background-color: #e9e9e9;
	border:1px solid #ccc; 
	border-bottom-color:#CCC; 
	color:#000; 
	-moz-border-radius-topleft:5px; 
	-moz-border-radius-topright:5px; 
	-webkit-border-top-left-radius:5px; 
	-webkit-border-top-right-radius:5px; 
	padding:7px;
	text-decoration:none; 
}

div#mdcolumn ul.tabNavigation li a.selected, div#mdcolumn ul.tabNavigation li a.selected:hover, div#mdcolumn ul.tabNavigation li a.selected:focus  {
	background-color: #FFF;
	border-bottom:1px solid white; 
	cursor:text; 
	
}

div#mdcolumn ul.tabNavigation li a:hover {
	background-color: #CCC;
}

div#mdcolumn ul.tabNavigation li a:focus {
		background-color:#CCC; 
		outline:1px dotted; 
	    outline-offset:-1px; 
	    -moz-outline-radius:5px 5px 0 0; 
} 
	
#mdcolumn #tabs .boxout,  #mdcolumn #tabs .boxoutAlt {
	width:450px; 
}
		
.wide #mdcolumn #tabs .boxout, .wide #mdcolumn #tabs .boxoutAlt  {
	width:663px; 
}	

/*PhD listing*/
#phdlist div {
	border-bottom:3px solid #DDD; 
	padding-bottom:15px; 
}

#phdlist div:last-child{
	border-bottom:none; 
	padding-bottom:15px; 
}

/*============================================================
		RIGHT COLUMN (CONTAINS NOTICE BOARD)
============================================================*/
div#rhcolumn{
	overflow:visible;/*ie 6 italic fix*/
	float:right;
	width:218px;
	margin-left:20px;
	padding-top:20px;
}

	/*--remove margin from any images--*/
	div#rhcolumn img{
		margin:0px;
		margin-bottom:15px;
	}
	
	div#rhcolumn  p img{
		margin:0px;
	}

/*============================================================
		RIGHT COLUMN TEXT FORMATTING
============================================================*/	
	div#rhcolumn p {
		margin:0 0 15px; 
	}
	
	div#rhcolumn .boxout p, div#rhcolumn .boxoutAlt p {
		margin:15px 0; 
	}
	
	div#rhcolumn .boxout p.left,div#rhcolumn .boxoutAlt p.left {
		margin-top:10px; 
		margin-right:15px; 
	}
	div#rhcolumn .boxout p.right,  div#rhcolumn .boxoutAlt p.right {
		margin-top:10px; 
		margin-left:15px; 
	}

	/*--right hand paragraphs, lists--*/
	div#rhcolumn p,
	div#rhcolumn ul li, 
	div#rhcolumn ol li{
		line-height:150%;
		text-align:left;
	}
		/*--right hand lists--*/
		div#rhcolumn ul li, 
		div#rhcolumn ol li{
			margin-bottom:5px;
			text-align:left;
		}
		div#rhcolumn ol  {
			margin-left:0; 
			padding-left:20px; 
		}

	div#rhcolumn a:link, div#rhcolumn a:visited{
		text-decoration:underline;
	}
	
		div#rhcolumn a:hover{
				text-decoration:none;
		}
		
	div#rhcolumn .boxout .vcard {
		font-size:90%; 
		line-height:140%; 
		margin-bottom:15px; 
	}	
/*============================================================
		WIDE COLUMN
============================================================*/
/*--wide class - remove DIV#RHCOLUMN--*/
div.wide#content-container div#rhcolumn
{
   display:none;
}

/*--wide class - amend css details for DIV#MDCOLUMN--*/
div.wide#content-container div#mdcolumn
{
   margin: 0px 0px 0px 0px;
   width: 720px;
}

/*============================================================
		FOOTER
============================================================*/
div#footer{
	width:100%;
	font-size:80%;
	color:#4D4D4D;
	border-top: 1px solid;
	padding-bottom:8px;
	clear: both;
	margin-top: 10px;
}
	
	/*--footer paragraph--*/
	div#footer p{
		line-height:150%;
	}
	
	/*--university address--*/
	div#footer p.left{
		float:left;
		margin:8px 14px 8px 10px;
	}
	
	div#footer p.logo {
		margin:10px 0 0 0; 
		text-align: center; 
		width:280px;
	}
	
	/*--links i.e legal, copyright--*/
	div#footer p.right{
		float:right;
		text-align:right;
		margin:8px 10px 8px 14px;
	}
	
	/*--footer links--*/

	div#footer a:link, div#footer a:visited{		
		text-decoration:none;
	}
		
		div#footer a:hover{
			text-decoration:underline;
		}

	div#footer .edit a:link, div#footer .edit a:visited {
		color:#999; 	
	}
	
	div#footer .edit a:hover{
		color:#000; 	
	}


/*============================================================
		GENERAL FORMATTING
============================================================*/

/*** FLOAT AN ITEM LEFT ***/
.left{
	float:left;
	margin: 15px 15px 15px 0;
}

/*** FLOAT AN ITEM RIGHT ***/
.right{
	float:right;
	margin: 15px 0 15px 15px;
}

/*** FIELDSET ***/
fieldset{
	border: none;
}

.nothingbeside{
	clear:both; /* set to 'right' only becase lhcolumn is floated so 'both' pushes below nav bar - fixable? */
	display:block; 
}

a img {
	border:none; 
}



abbr.dtstart, abbr.dtend{
	border-bottom: none;
}


p.warning {
	background-color:#FEF8F6;  
	border:1px solid #CD0A0A; 
	color:#CD0A0A; 
	padding:15px; 
}


/*Hide the Flash Placeholder image on published pages*/
object img {
	display:none; 
}



/*============================================================
		ICONS FOR DOWNLOAD AND NON-STANDARD LINK BEHAVIOURS 
============================================================*/
div#rhcolumn img.icon {
	margin:0; 
}

div#mdcolumn a.file:link, div#rhcolumn a.file:link, div#mdcolumn a.file:visited, div#rhcolumn a.file:visited {
	text-decoration:none; 
}
	
div#mdcolumn a.file:link .filename, div#mdcolumn a.file:visited .filename, div#rhcolumn a.file:link .filename, div#rhcolumn a.file:visited .filename{
	text-decoration:underline; 
}
div#mdcolumn a.file:hover .filename, div#rhcolumn a.file:hover .filename{
	text-decoration:none; 
}

.meta {
		font-size:85%; 
}


/*============================================================
		DEPARTMENT HOMEPAGE LAYOUTS
============================================================*/
div#mdcolumn div.col-half{
	width:242px; 
	margin-left:20px;
	float:left; 
}

div#mdcolumn div.col-half .boxout, div#mdcolumn div.col-half .boxoutAlt{
	width:240px; 
}

div#mdcolumn div.col-third{
		margin-left:21px;
		float:left; 
}

div#mdcolumn div.first-col{
	margin-left: 0; 
	clear:both; 
}

div.wide div#mdcolumn .col-half {
	width:350px; 
}

div.wide div#mdcolumn div.col-half .boxout, div.wide div#mdcolumn div.col-half .boxoutAlt{
	width:348px; 
}

div.wide div#mdcolumn .col-third {
	width:226px; 
}
div.wide div#mdcolumn div.col-third .boxout, div.wide div#mdcolumn div.col-third .boxoutAlt{
	width:224px; 
}

div.full-width div#mdcolumn .col-half {
	width:450px; 
}

div.full-width div#mdcolumn div.col-half .boxout, div.full-width div#mdcolumn div.col-half .boxoutAlt{
	width:448px; 
}

div#mdcolumn div.col-half .boxout, div#mdcolumn div.col-half .boxoutAlt, div#mdcolumn div.col-third .boxout, div#mdcolumn div.col-third .boxoutAlt{
		padding:0; 
		margin-top:0; 
}


div#mdcolumn div.col-half .boxout p, 
div#mdcolumn div.col-half .boxoutAlt p, 
div#mdcolumn div.col-third .boxout p, 
div#mdcolumn div.col-third .boxoutAlt p,
div#mdcolumn div.col-half .boxout .vcard, 
div#mdcolumn div.col-half .boxoutAlt .vcard, 
div#mdcolumn div.col-third .boxout .vcard, 
div#mdcolumn div.col-third .boxoutAlt .vcard
{
	padding:0 12px 12px; 
	margin:0px; 
}

div#mdcolumn div.col-half .boxout p:first-child, 
div#mdcolumn div.col-half .boxoutAlt p:first-child, 
div#mdcolumn div.col-third .boxout p:first-child,  
div#mdcolumn div.col-third .boxoutAlt p:first-child {
	margin-top:12px; 
}

div#mdcolumn div.col-half .boxout ul, 
div#mdcolumn div.col-half .boxoutAlt ul, 
div#mdcolumn div.col-third .boxout ul, 
div#mdcolumn div.col-third .boxoutAlt ul {
	padding:0 12px 12px 0; 
	margin:0px; 
	margin-left:12px; 
}

div#mdcolumn div.col-half .boxout ul ul, 
div#mdcolumn div.col-half .boxoutAlt ul ul, 
div#mdcolumn div.col-third .boxout ul ul, 
div#mdcolumn div.col-third .boxoutAlt ul ul {
	padding-bottom:0; 	
}

div#mdcolumn div.col-half .boxout h3, 
div#mdcolumn div.col-half .boxoutAlt h3, 
div#mdcolumn div.col-third .boxout h3, 
div#mdcolumn div.col-third .boxoutAlt h3  {
	margin-top:12px; 
	padding:0 12px; 
}


div#mdcolumn .col-half h2, 
div#mdcolumn .col-half .boxoutAlt h2, 
div#mdcolumn .col-third  h2, 
div#mdcolumn .col-third .boxoutAlt h2 {
	padding:7px 12px; 
	border-bottom:none;
	font-size:110%; 
	font-weight:bold; 
	margin-top:0; 
}

div#mdcolumn .col-half .boxout h2, 
div#mdcolumn .col-half .boxoutAlt h2, 
div#mdcolumn .col-third  .boxout h2, 
div#mdcolumn .col-third .boxoutAlt h2 {
	margin:-1px -1px 12px; 
}


div#mdcolumn div.col-half .boxout iframe, 
div#mdcolumn div.col-half .boxoutAlt iframe, 
div#mdcolumn div.col-third .boxout iframe, 
div#mdcolumn div.col-third .boxoutAlt iframe {
	padding:0 12px; 
}


div#mdcolumn .col-half .boxoutAlt, div#mdcolumn .col-third  .boxoutAlt{
	border-width:1px; 
}

/*Rotating image banners*/

div#mdcolumn #homepagebanner {
	background-color:#000; 
	margin-bottom:15px; 
}	

div#mdcolumn #homepagebanner .imagewithcaption  {
	display:none; /* stops the flash of all images loading at once*/
	position:relative; 
	width:100%; 
}

div#mdcolumn #homepagebanner .imagewithcaption .caption {
	color:#FFF; 
	position:absolute;
	display:block; 
	width:100%; 
	bottom:0; 
	background:transparent url(transblack.png) repeat scroll 0 0; 
}

div#mdcolumn #homepagebanner .imagewithcaption .caption p{
	padding:5px 12px; 
	display:block; 
	border:none; 
	color:#FFF; 	
	margin-bottom:0; 
	
}

div#mdcolumn #homepagebanner .imagewithcaption .caption p a:link{
	color:#FFF; 	
}
div#mdcolumn #homepagebanner .imagewithcaption .caption p a:hover{
	color:#FFF; 	
}
div#mdcolumn #homepagebanner .imagewithcaption .caption p a:visited{
	color:#FFF; 	
}

		
		/* image margin testing*/
div#mdcolumn img {margin:0; padding:0; }
div#mdcolumn p {margin-top:0}
/*div#mdcolumn p {margin-top:0em; padding-top:0;  }*/
div#mdcolumn p.left {margin-top:0.5em; padding-top:0; }
div#mdcolumn p.left img {margin-top:0;padding-top:0}
div#mdcolumn p.right {margin-top:0.5em; padding-top:0; }
div#mdcolumn p.right img {margin-top:0;padding-top:0}

/*end image margin testing*/

/*============================================================
		Icon boxes
============================================================*/
	.icon-box {
		margin:20px 0; 
	}
	
	.icon-box h3  {
		font-size:100%; 
		margin-bottom:5px; 
		margin-top:0; 
	}
	
	div#mdcolumn .icon-box .left {
		margin-bottom:20px; 
		margin-top:0; 
	}
	
	div#mdcolumn .icon-box p { 
		font-size:90%; 
		margin-bottom:0; 
	}
	
	

/*============================================================
		EVENTS LISTING
============================================================*/
#upcomingevents .ampm {
	text-transform:lowercase; 
}

#upcomingevents .event {
	margin-bottom:15px; 
}


mdcolumn#upcomingevents .event {
	border-bottom:1px solid #EEE; 
}

#upcomingevents  .odd {
	/*background-color: #F4F4F4; */
}

#upcomingevents .event .eventdate {
	float:left; 
	width: 45px; 
	text-align:center; 
	background-color:#FEFEFE; 
	border:1px solid #DDD; 
	padding-bottom:5px; 
}


#upcomingevents .event .eventdate .day {
	background-color: #860000; 
	color: #FFF; 
	display:block; 
	font-size:90%; 
	line-height:150%; 
	padding:3px; 
}

#upcomingevents .event .eventdate .date {
	color:#333; 
	display:block; 
	font-family:Georgia,Utopia,Palatino,'Palatino Linotype',serif;
	font-size:170%; 
	font-weight:bold; 
	line-height:120%; 
}

#upcomingevents .event .eventdate .month {
	display:block; 
	line-height:120%; 
	text-transform:uppercase; 
}

#upcomingevents .event .eventdetails {
	margin-left: 55px; 
	padding-left: 15px; 
}
#upcomingevents .event .eventtitle {
	font-weight:bold; 
	margin-bottom:5px; 
}

#upcomingevents .event .venue {
	font-size:85%; 
	font-weight:bold; 
	margin-bottom:5px; 
}


#upcomingevents.compact .event{
	padding:0;
	padding-top:5px; 
}

#upcomingevents.compact .event.odd {
	background-color:#FFF; 
	
}

#upcomingevents.compact .event .eventdate{
	border:none; 
	font-size:80%; 
	padding-bottom:0; 
	margin-top:4px; 
	width:35px; 
}

#upcomingevents.compact .event .eventdate .date {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	border:1px solid #DDD;
	border-width:0 1px; 
}

#upcomingevents.compact .event .eventdate .day {
	padding:1px; 
}

#upcomingevents.compact .event .eventdate .month {
	border:1px solid #DDD;
	border-width:0 1px 1px 1px; 
		padding:1px; 
}

#upcomingevents.compact .event .eventdetails {
	margin-left: 45px; 
	padding-left:0; 
}

#upcomingevents.compact .event p.eventtitle {
	
	margin-bottom:3px; 
}

#upcomingevents.compact .event p.speaker {
	font-size:85%; 
	margin-bottom:5px; 
}

#upcomingevents.compact .event p.venue {
	font-size:85%; 
	font-weight:bold; 
		margin-bottom:3px; 
}





#rhcolumn #upcomingevents .event .eventteaser {
	display:none; 
}

#rhcolumn  #upcomingevents .event .eventtitle {
	font-weight:bold; 
	margin:0; 
}

#rhcolumn  #upcomingevents .event {
	padding-left:0; 
	padding-top:0; 
}

#rhcolumn  #upcomingevents .event .eventdetails {
	padding-left: 10px; 
}

#rhcolumn  #upcomingevents.compact .event .eventdetails {
	padding-left: 5px; 
}

#event abbr.dtstart {
	font-size:110%; 
	font-weight:bold; 
}

#event abbr.dtstart .ampm {
	text-transform:lowercase; 
}



#pastevents .event p.eventtitle {
	margin-bottom:0; 
}

#pastevents .event p {
	margin-bottom:20px; 
}

#pastevents .eventtitle a {
	font-weight:bold;
	display:block; 
}

 #pastevents p.eventdate {
	color:#7E7E7E;
	font-size:85%;
	margin-top:5px; 
	margin-bottom:5px; 
}


/*============================================================
		News and Events feeds
============================================================*/

.feeds {
	float: right; 
	font-weight: normal; 
	position:relative; 
}

div#mdcolumn #calendar-feed-menu {
	background-color:#FFF; 
	border:3px solid #DDD; 
	display:none; 
	font-size: 85%; 
	left:-125px; 
	padding:12px; 
	position:absolute; 
	top:14px; 
	width:140px; 
}

div#mdcolumn #calendar-feed-menu h3 {
	margin:0;
	padding:0; 
}	

div#mdcolumn  #calendar-feed-menu a:link, div#mdcolumn  #calendar-feed-menu a:visited {
	color:#000; 
	text-decoration:none; 
}
div#mdcolumn  #calendar-feed-menu a:hover {
	text-decoration:underline; 
}


div#mdcolumn a#close-calendar {
	float:right; 
	font-family:Arial,sans-serif; 
	font-weight:bold; 
	text-decoration:none; 
}

div#mdcolumn a#close-calendar:link, div#mdcolumn a#close-calendar:visited {
	color:#BBB; 
}

div#mdcolumn a#close-calendar:hover {
	color:#000;  
}


div#mdcolumn #calendar-feed-menu ul {
	margin-bottom:0; 
	padding-left:0; 
}

div#mdcolumn #calendar-feed-menu li {
	padding-left:23px; 
}

div#mdcolumn #calendar-feed-menu li.google-icon {
	background: transparent url(google_calendar_icon.gif) no-repeat; 
}

div#mdcolumn #calendar-feed-menu li.outlook-icon {
	background: transparent url(outlook_icon.gif) no-repeat; 
}


/*============================================================
		Twitter feed
============================================================*/

#twitter {
	clear:both; 
	margin-bottom:30px; 
	padding-right:15px; 
}

#twitter  h2 {
	padding-bottom:0; 
}

div#rhcolumn .boxout #twitter {
	margin-bottom:0; 
	padding-right:0; 
}

div#rhcolumn  #twitter ul, div#rhcolumn  #twitter p{
	font-size:90%; 
}

div#rhcolumn #twitter p, div#mdcolumn #twitter p {
	font-weight:bold; 
	text-align:right; 
}

div#rhcolumn #twitter ul, div#mdcolumn #twitter ul {
	list-style-image:none; 
	list-style-position:outside; 
	list-style-type:none; 
	margin-left:0; 
	margin-top:0; 
	padding-left:0; 
}

div#rhcolumn #twitter ul li, div#mdcolumn #twitter ul li {
	background:url(icon_twitter.gif) no-repeat 0 4px transparent; 
	margin-bottom:10px; 
	padding-left:25px; 
}

div#rhcolumn #twitter ul li>a, div#mdcolumn #twitter ul li>a {
	color:#666; 
	text-decoration:none; 
}

div#rhcolumn #twitter ul li>a:hover, div#mdcolumn #twitter ul li>a:hover {
	text-decoration:underline; 
}

/*============================================================
		FORMS
============================================================*/

input[type=submit] {
	cursor:pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}

label,select { 
	cursor:pointer; 
}

/* - - - - - - - - - - - - - - - - - - - - -

Title : Wufoo Form Framework
Author : Infinity Box Inc.
URL : http://wufoo.com

Last Updated : July 2, 2009

- - - - - - - - - - - - - - - - - - - - - */


div#mdcolumn  form ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:100%;
}

div#mdcolumn form li{
	background:none; 
	display:block;
	margin:0;
	padding:6px 5px 9px 9px;
	clear:both;
	width:62%;
}
form li:after, form li div:after{
	content:"."; 
	display:block;
	height:0; 
	clear:both; 
	visibility:hidden;
}
* html form li{height: 1%;}
* html form li div{display:inline-block;}
*+html form li div{display:inline-block;}

form li div, form li span{
	margin:0 .3em 0 0;
	padding:0;
	color:#444;
}
form li span{
	float:left;
}

.center, 
form li span.center input.text, form li span.center label,
form li.name input.text, form li.name span label,
form li.date input.text, form li.date span label, 
form li.phone input.text, form li.phone span label,
form li.time input.text, form li.time span label{
	text-align:center;
}
form li.time select.select{
	margin-left:5px;
}

form li div.col span{
	display:block;
	width:100%;
	float:left;
	padding:0;
}
li.twoColumns div.col span{
	width:48%;
	margin:0 5px 0 0;
}
li.threeColumns div.col span{
	width:30%;
	margin:0 5px 0 0;
}
li.notStacked div.col span{
	width:auto;
	margin:0 7px 0 0;
}


form li.complex{
	padding-bottom:0;
}
form li div span.left, form li div span.right{
	margin:0;
	width:47%;
}
form li div span.full input, 
form li div span.full select, 
form li div span.left input, 
form li div span.right input,
form li div span.left select,
form li div span.right select{
	width:100%;
}

form li div label, form li span label{
	margin:0;
	padding-top:6px;
	clear:both;
	font-size:85%;
	line-height:100%;
	color:#444;
	display:block;
}
form li div span label{
	padding-bottom:12px;
}
label.desc{
	font-size:95%;
	font-weight:bold;
	color:#222;
	line-height:150%;
	margin:0;
	padding:0 0 3px 0;
	border:none;
	display:block;
}
label.choice{
	display:block;
	font-size:100%;
	line-height:150%;
	margin:-17px 0 0 23px;
	padding:0 0 5px 0;
	color:#222;
	width:88%;
}
.safari label.choice{
	margin-top:-16px;
}
form.rightLabel div.col{
	margin-top:-3px;
}

span.symbol{
	font-size:120%;
	line-height:135%;
}


/* ----- FIELDS ----- */

input.text, input.search, input.file, textarea, .textarea, select.select, input[type="text"]{
	font-size:100%;
	color:#333;
	margin:0;
	padding:2px 0;
}
input.text, input.search, textarea, .textarea, input[type="text"]{
	border-top:1px solid #7c7c7c; 
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background:#fff url(fieldbg.gif) repeat-x top;
}
select.select{
	padding:1px 0 0 0;
}
input.search{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	padding-left:6px;
}
div#mdcolumn  input.checkbox, input.radio, div#mdcolumn input[type="checkbox"], input[type="radio"]{
	border:none; 
	display:block;
	margin:4px 0 0 0;
	padding:0;
	width:13px;
	height:13px;
}
input.other{
	margin:0 0 8px 25px;
}

* html select.select{
	margin:1px 0;
}
*+html select.select{
	margin:1px 0;
	border:1px solid red;
}



/* ----- BUTTONS ----- */

div#mdcolumn .buttons input.submit, div#rhcolumn .buttons input.submit {
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	border-radius:5px; 
	font-weight:bold;
	margin-top:10px; 
	padding:5px; 
}




/* ----- SIZES ----- */

.third{
	width:32% !important;
}
.half{
	width:48% !important;
}
.full{
	width:100% !important;
}

input.small, select.small{
	width:25%;
	min-width:25%;
}
input.medium, select.medium{
	width:50%;
	min-width:50%;
}
input.large, select.large, textarea.textarea{
	width:100%;
	min-width:100%;
}
select.ieSelectFix{ /* IE8 */
	width:auto\9;
}
* html select.ieSelectFix{ /* IE6 Only */
	width:100%;
}
*+html select.ieSelectFix{ /* IE7 Only */
	width:100%;
}

textarea.small{
	height:5.5em;
}
textarea.medium{
	height:10em;
}
textarea.large{
	height:20em;
}


/* ----- REQUIRED ----- */

form span.req{
	display:inline;
	float:none;
	color:red !important;
	font-weight:bold;
	margin:0;
	padding:0;
}

/* ----- INSTRUCTIONS ----- */

#mdcolumn form li.focused{
	background-color:#fff7c0;
	-webkit-box-shadow:rgba(0,0,0,.15) 1px 1px 2px;
	-moz-box-shadow:rgba(0,0,0,.15) 1px 1px 2px;
}
form li.focused{
	position:relative; /* Makes Instructs z-index stay on top in IE. */
}
form .instruct{
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	width:42%;
	margin:0 0 0 8px;
	padding:8px 10px 10px 10px;
	border:1px solid #e6e6e6;
	background:#f5f5f5;
	visibility:hidden;
	font-size:85%;
}
form .instruct small{
	line-height:120%;
	font-size:80%;
	color:#444;
}
form li.focused .instruct{
	left:100%; /* Prevent scrollbars for IE Instruct fix */
	visibility:visible;
}



/* ----- ALT INSTRUCTIONS ----- */

.altInstruct .instruct, li.leftHalf .instruct, li.rightHalf .instruct,
li.leftThird .instruct, li.middleThird .instruct, li.rightThird .instruct,
.iphone .instruct{
	visibility:visible;
	position:static;
	margin:0;
	padding:6px 0 0 0;
	width:100%;
	clear:left;
	background:none !important;
	border:none !important;
}
.altInstruct p.complex , li.leftHalf p.complex, li.rightHalf p.complex,
li.leftThird p.complex, li.middleThird p.complex, li.rightThird p.complex,
.iphone p.complex{
	padding:0 0 9px 0;
}

/* ----- LABEL LAYOUT ----- */

.leftLabel li, .rightLabel li{
	width:74% !important;
	padding-top:9px;
}
.leftLabel label.desc, .rightLabel label.desc{
	float:left;
	width:29%;
	margin:0px 15px 0 0;
}
.rightLabel label.desc{
	text-align:right;
}
.leftLabel li div.col, .rightLabel li div.col,
.leftLabel li.complex div, .rightLabel li.complex div{
	float:left;
}

.leftLabel li div.col, .rightLabel li div.col,
.leftLabel li.complex div, .rightLabel li.complex div{
	width:63%;
	min-width:63%;
}
.leftLabel .small, .rightLabel .small{
	width:23%;
	min-width:23%;
}
.leftLabel .medium, .rightLabel .medium{
	width:55%;
	min-width:55%;
}
.leftLabel .large, .rightLabel .large,
.leftLabel textarea.textarea, .rightLabel textarea.textarea{
	width:97%;
	min-width:97%;
}

.leftLabel p.instruct, .rightLabel p.instruct{
	width:27%;
	margin-left:5px;
}
.leftLabel .altInstruct .instruct, .rightLabel .altInstruct .instruct{
	margin-left:29% !important;
	padding-left:15px;
	width:65%;
}


.leftLabel .buttons, .rightLabel .buttons{
	margin-left:15px;
}
* html .leftLabel .buttons, * html .rightLabel .buttons{
	margin-left:11px;
}
.leftLabel .buttons input, .rightLabel .buttons input{
	margin-left:22%;
}

/* ----- NO INSTRUCTIONS ----- */

.noI form li, .altInstruct form li{
	width:98% !important;
}
.noI form li.section, .altInstruct form li.section{
	padding-left:9px !important;
}

/* ----- NO INSTRUCTIONS LABEL LAYOUT ----- */

.noI .leftLabel label.desc, .noI .rightLabel label.desc{
	width:34%;
}
.noI .leftLabel .buttons input, .noI .rightLabel .buttons input{
	margin-left:34%;
}
* html .noI .leftLabel .buttons input, * html .noI .rightLabel .buttons input{
	margin-left:30%;
}

/* ----- HALVES AND THIRDS ----- */

form li.leftHalf, form li.rightHalf{
	width:46% !important;
}
form li.leftThird, form li.middleThird, form li.rightThird{
	width:30% !important;
}
li.leftHalf, li.leftThird{
	clear:left !important;
	float:left;
}
li.middleThird{
	clear:none !important;
	float:left;
}
li.rightHalf, li.rightThird{
	clear:none !important;
	float:right;
}
li.leftHalf .small, li.rightHalf .small,
li.leftHalf .medium, li.rightHalf .medium,
li.leftThird .small, li.middleThird .small, li.rightThird .small,
li.leftThird .medium, li.middleThird .medium, li.rightThird .medium{
	width:100%;
}


/*Errors*/

label.error {
	color:red; 
}

.requiredCheckbox  {
	margin-bottom:15px; 
	position:relative;  
	
}
.requiredCheckbox label.error { 
	position:absolute; 
}


/*============================================================
		IMAGE GALLERIES
============================================================*/


.gallery-lightbox .gallery-image, .gallery-standard .gallery-image {
	
	display:inline; 
	float:left; 
	margin-bottom:5px; 
	text-align:center; 
	width:168px; 

}

.wide .gallery-image {
	margin-bottom:15px; 
	width:179px; 
}

.wide .col-half .gallery-image {
    margin-bottom:10px; 
    width:175px;
}


.gallery-image img {
	border:3px solid #DDD; 
}

.gallery-image .caption{
	display:none; 
}

div#mdcolumn  .show-captions .gallery-image .caption {
	display:block; 
	font-size:85%; 
	margin-bottom:5px; 
	padding:5px 10px; 
	
}

.newline-narrow-gallery,.wide .newline-wide-gallery{
	clear:both; 
}

.wide .newline-narrow-gallery{
	clear:none; 
}

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}